<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmeetserver.mapper.ContactMapper">

    <select id="getContact" resultType="Integer">
        select contact_user_id from contact where contact_user_id in
            (select user_id from contact where contact_user_id=#{userId}) and user_id=#{userId}
    </select>

    <select id="selectWaitAddContactList" resultType="com.vmeetserver.entity.dto.ContactDto">
        select id, username, nickname, avatar, username, status from user where id in
            (select user_id from contact where user_id not in
                (select contact_user_id from contact where user_id=#{userId}) and contact_user_id=#{userId})
    </select>

    <select id="selectAppliedAddContactList" resultType="com.vmeetserver.entity.dto.ContactDto">
        select id, username, nickname, avatar, username, status from user where id in
            (select contact_user_id from contact where contact_user_id not in
               (select user_id from contact where contact_user_id=#{userId}) and user_id=#{userId})
    </select>

    <insert id="addContact">
        insert into contact (user_id, contact_user_id)
        values (#{userId}, #{contactUserId})
    </insert>

    <delete id="deleteContact">
        delete
        from contact
        where user_id=#{userId} and contact_user_id = #{id}
    </delete>
</mapper>
