<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body>
    <h2 style="margin-bottom: 1em;">尊敬的新用户，您好：</h2>
    <h4>您正在进行<span class="emphasis" style="border-bottom: solid 1px #000;">注册操作</span>，请在<span class="emphasis" style="border-bottom: solid 1px #000;">五分钟内</span>输入以下验证码完成操作：</h4>
    <div class="code" style="text-align: center; margin: 50px;">
        <p style="width: 10em;margin: 0 auto;box-sizing: border-box;padding: 10px 15px;border-radius: 6px;background-color: #f1f1f1;box-shadow: 2px 2px 4px 0 #ddd;letter-spacing: 4px;"><span th:each="c:${code}" style="font-size: 1.8em;font-weight: bolder;color: #3a9aed;">[[${c}]]</span></p>
    </div>
    <div class="content" style="line-height: 1.8em;color: #888;">
        <p style="margin: -10px 0">注意：此操作可能会修改您的密码或登录邮箱。如非本人操作，请及时登录并修改密码以保证账户安全</p>
        <p style="margin: -10px 0">（工作人员不会向您索取此验证码，请勿泄露！）</p>
        <hr style="margin: 20px 0;" />
        <p style="margin: -10px 0">此为系统邮件请勿回复</p>
        <p style="margin: -10px 0">请保管好您的邮箱，避免账号被他人盗用。</p>
    </div>
    <div class="footer" style="margin-top: 30px;margin-right: auto;">
        <p style="text-align: right;font-size: 1.4em;color: #3a9aed;font-weight: bolder;">--vmeet</p>
    </div>
</body>
</html>
